:root {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2 {
  font-family: 'Pacifico', cursive;
}

h3,
h4,
h5 {
  font-family: 'Source Serif Pro', serif;
}

pre,
code {
  font-family: 'Source Code Pro', monospace;
}

body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.spacer {
  flex: 1;
}
